.facture{
  padding: 2rem 1rem;
  width: 794px;
  min-height:1123px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  background-color: aliceblue;
  
}
.facture .header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2rem;
}
.facture .nr{
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: gainsboro;
}
.facture .facture-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  margin: 2rem 0;
}
.facture .signature{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8rem;
}
.facture .print{
  position: absolute;
  bottom: -2rem;
  left:50%;
  transform: translateX(-50%);
}
.facture .print button{
  background: #99adc3;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  border: 0;
  margin-top: 1rem;
  transition: all 0.4s ease-in-out;
}
.facture .print button:hover{
  background-color: #0d6efd;
  color: #fff;
}